* {
    box-sizing: border-box;
    font-family:consolas;
}
body{
    background-image: url("./images/background.jpg");
}
body nav{
    text-align: center;
    position: relative;
}
body nav a{
    position: relative;
    margin: 0 20px;
    font-size: 1em;
    color: #000;
    text-decoration: none;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
nav div#marker{
    position: absolute;
    height:2px;
    bottom: -8px;
    background-color:white;
    display: table-cell;
    transition: 0.2s;
}
body h1{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
body h2{
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}
body div.page{
    border-radius: 25px;
    border: .5px solid white;
    text-align: center;
    -webkit-text-fill-color: white;
    width: 600px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 15%;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: auto;
}
body div.page::-webkit-scrollbar{
    width: 1em;
}
body p{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    font-size: smaller;
}

.dot {
    height: 10px;
    width: 90px;
    background: #bbb;
    border-radius: 25px;
    display: inline-table;
    margin: 0 12px;
    
}
div.dotDiv {
    text-align: center;
    bottom: 12%;
    position: flex;
    margin-top: 2%;
}

body .rightArrow{
    position: absolute;
    right: 10%;
    top: 50%;
}

body .leftArrow{
    position: absolute;
    top: 50%;
    left: 10%;
}

.pageContainer {
    display: grid;
    grid-template-rows: 700px 10%; 
}
