* {
    box-sizing: border-box;
    font-family:consolas;
}
body nav{
    text-align: center;
    position: relative;
}
body nav a{
    position: relative;
    margin: 0 20px;
    font-size: 1em;
    color: #000;
    text-decoration: none;
}
nav #marker{
    position: absolute;
    height:2px;
    bottom: -8px;
    background-color: #000;
    display: table-cell;
    transition: 0.2s;
}