* {
    box-sizing: border-box;
    font-family:consolas;
}
body{
    background-image: url("./images/background.jpg");
}
body nav{
    text-align: center;
    position: relative;
}
body nav a{
    position: relative;
    margin: 0 20px;
    font-size: 1em;
    color: #000;
    text-decoration: none;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
nav div#marker{
    position: absolute;
    height:2px;
    bottom: -8px;
    background-color:white;
    display: table-cell;
    transition: 0.2s;
}
body h1{
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}
body h2{
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}
body div.page{
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    width: 500px;
    margin: auto;
}
body p + p{
    text-align: center;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    width: 500px;
    margin: auto;
    margin-top: 400px;
    font-size: smaller;
}

body .arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
    width: 20px;
    height: 20px;
}

.right{
    transform: rotate(-45eg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: 10%;
    top: 50%;
}
.left{
    transform: rotate(135eg);
    -webkit-transform: rotate(135deg);
    position: absolute;
    top: 50%;
    left: 10%;
}
